.video-card-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px; /* Space between cards */
    padding: 10px;
  }
  
  .card {
    background-color: #1e1e1e;
    color: white;
    transition: box-shadow 0.3s ease;
    border-radius: 8px;
    overflow: hidden;
  }
  
  .card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .mat-card-header {
    background-color: #272727;
    padding: 8px 16px;
  }
  
  .mat-card-title {
    font-size: 1.2rem;
    color: #f0f0f0;
  }
  
  .mat-card-content {
    padding: 16px;
  }
  
  .tags {
    margin-top: 10px;
  }
  
  .tag {
    display: inline-block;
    background-color: #444;
    color: #fff;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 12px;
  }
  
  .action-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .action-buttons button {
    padding: 8px 12px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
  }
  
  .action-buttons button mat-icon {
    margin-right: 5px;
  }
  